 <div class="row">
    <div class="col">
      <div>
        <%= link_to 'Manage',applications_path, class:"btn btn-primary btn-lg" %>
        <%= link_to 'Apply',new_application_path,class:"btn btn-primary btn-lg" %>
      </div>

    </div>
  </div>
